
<h1> All Contacts </h1>

<ul>
	<!-- we've replaced @@rolodex.contacts.each with @contacts.each-->

	<% @contacts.each do |contact| %> <!-- This allligator is good for each statements since it only executes the code, not output value-->

	<li><a href="/contacts/<%= contact.id %>">Contact name: <%= contact.first_name %> <%= contact.last_name %> </a></li>	
	<a href="/contacts/<%= contact.id %>/edit"> Edit</a>
	<a href="/contacts/<%= contact.id %>"> View Contact </a>
	<% end %> <!--#the end needs to be in alligator brackets too-->
</ul>

<a href="/">Back to home</a>